SharpMail.sln.docstates.suo
SharpMail.suo
*.suo
SharpMail/Properties/Resources.Designer.cs
SharpMail/Properties/Resources.resx
SharpMail/Properties/Settings.Designer.cs
SharpMail/Properties/Settings.settings